.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fff;
    position: relative;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #444;
    color: #fff;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.nav-menu.open {
    left: 0;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 20px 0;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}
