.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 上部寄せ */
    height: 100vh;
    background-color: #ffffff;
    padding-top: 200px; /* 上部余白を調整 */
}

.robot-image {
    margin-bottom: 20px;
}

.mt-transparent {
    margin-bottom: 20px;
}

.security-mode-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.action-button:hover {
    background-color: #555;
}
